@using AlMadrasa.Shared
@page "/contributiondata"
@inherits StudentDataModel

<h1>Studenten Daten</h1>
<h3>Die monatlichen Beiträge</h3>

<div>
    <div style="float:left">
        <button class="btn btn-primary" onclick="@AddMonth"><span class="oi oi-calendar" aria-hidden="true"></span>Monat+</button>
    </div>

</div>
<br />

@if (studList == null)
{
    <br />
    <!-- <p><em>Loading...</em></p> -->
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
}
else
{
    <br />
    <table class='my-table'  >
        <thead>
            <tr>
            <th nowrap>
                <input style="width:70%" type='text' placeholder="Name search" bind=@searchstr/>   
                <button class="my-btn btn-primary" onclick=@Filter>🔎</button>
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("name") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("name") )>🠫</button>
            </th>    
            @if (monthCalendarList != null)
            {   
                index=monthCalendarList.Count;
                foreach (var mon in monthCalendarList)
                {       
                    <th>@mon.Month   
                    <button class="my-btn btn-danger" onclick=@( () => DeleteMonthConfirm(mon.Id) )><span class="oi oi-delete" aria-hidden="true"></span></button>     
                    
                    @if(index--==1)
                    {
                        month.Id=null;
                        var tok=mon.Month.Split('.');
                        if(tok.Length==2)
                        {
                            int x=System.Convert.ToInt16(tok[0])+1;
                            if(x==13)
                            {
                                x=1;
                                int y=System.Convert.ToInt16(tok[1])+1;
                                month.Month=x.ToString("00")+"."+y;
                            }
                            else
                            {
                                month.Month=x.ToString("00")+"."+tok[1];
                            }
                            <button class="my-btn btn-secondary" onclick=@( () => SaveMonth() )><span class="oi oi-plus" aria-hidden="true"></span></button>
                        }
                    }</th>
                }
             }
            </tr>         
        </thead>
        <tbody>
            @foreach (var stud in studList)
            {
                var str="";
                @if(index++%2==1)
                {
                    str="background:#555";
                }                
                <tr style=@str>
                    <td>@stud.Name            </td>   
                    @foreach (var mon in monthCalendarList)
                    {
                        @foreach (var con in contributionList)
                        {
                            if(con.StudentId==stud.Id && con.MonthID==mon.Id)
                            {
                               <td>                                     
                                @if(con.Payed==1)
                                {
                                    <i style="color:green">OK</i> 
                                    <button class="my-btn btn-info" onclick=@(async () => {con.Payed=0; await SaveContribution(con); })><span class="oi oi-thumb-up" aria-hidden="true"></span></button>
                                }
                                else
                                {
                                    <i style="color:red">NOK</i>
                                    <button class="my-btn btn-info" onclick=@( async () => { con.Payed=1; await SaveContribution(con);} )><span class="oi oi-thumb-down" aria-hidden="true"></span></button>
                                }                                 
                                </td>    
                            }                            
                        }
                    }                      
                </tr>
            }
        </tbody>
    </table>

    if (isAddMonth)
    {
        <div style="overflow:auto;height:80%">
        <div class="modal" tabindex="-1" style="display:block" role="dialog" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Neue Beitragsmonat</h3>
                        <button type="button" class="close" onclick="@closeModal">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <form>
                            <div class="form-group">
                                <label for="Monat" class="control-label">Monat</label>
                                <input for="Monat" class="form-control" bind="@month.Month" />
                            </div>
                           
                        </form>
                    </div>
                    <div class="modal-footer" >
                        <button class="btn btn-block btn-success" onclick="@(async () => await SaveMonth())" data-dismiss="modal">Save</button>
                    </div>                    
                </div>
            </div>
        </div>
    </div>   
    }

    if (isDeleteMonth)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Delete Month</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Do you want to delete this Month ??</h4>
                        <table class="table">
                            <tr>
                                <td>Month</td>
                                <td>@month.Month</td>
                            </tr>
                           
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" onclick="@(async () => await DeleteMonth(month.Id))" data-dismiss="modal">YES</button>
                        <button class="btn btn-warning" onclick="@closeModal">NO</button>
                    </div>
                </div>
            </div>
        </div>
    }
}  



@functions {
    int index=0;
}
