@page "/studentdata"
@inherits StudentDataModel

<head>
    <style>
    .my-form-group
    {
        margin: 2px 2px;
    }
    .my-control-label
    {
       display: inline-block;
        margin-bottom: .1rem;
        width: 30%;
          
    }
    .my-form-control
    {
        width: 50%;
        padding: 5px 10px;
        margin: 8px 5px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;        
    }
    
    
    
    </style>
</head>
<h1>Alle Studenten</h1>
<h3>Alle bei SKT e.V. registrierten Studenten</h3>
<br />
<div>
    <div style="float:left">
        <button class="btn btn-primary" onclick="@AddStudent"><span class="oi oi-person" aria-hidden="true"></span>Add Student</button>
    </div>

</div>
<br />

@if (studList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <br/>
    <table class='my-table'>
        <thead>
            <tr>
            <th >
                <input style="width:50%" type='text' placeholder="Name search" bind=@searchstr/>   
                <button class="my-btn btn-primary" onclick=@Filter>🔎</button>
            </th>    
            <th >
                <input style="width:50%" type='text' placeholder="branch search" bind=@searchstr/>   
                <button class="my-btn btn-primary" onclick=@Filter>🔎</button>           </th>    
            <th>
                <input style="width:50%" type='text' placeholder="Birthdate search" bind=@searchstr/>   
                <button class="my-btn btn-primary" onclick=@Filter>🔎</button>
            </th>    
            <th >
                <input style="width:50%" type='text' placeholder="Entrydate search" bind=@searchstr/>   
                <button class="my-btn btn-primary" onclick=@Filter>🔎</button>
            </th>    
               
            <th>Ar. Klasse </th>    
            <th>Q. Klasse</th>    
            <th>Telefon-Nr.</th>                
            <th>Geschlecht</th>    
            <th>PLZ    </th>    
            <th>Stadt   </th>    
            <th>Beitrag</th>    
            </tr>
            <tr>
            <th >Name
               <button class="my-btn btn-primary" onclick=@( () => {SortAscending("name"); Messages="List has been sorted";} )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("name") )>🠫</button> 
            </th>    
           
            <th >Zweig
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("branch") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("branch") )>🠫</button>           </th>    
            <th >Geburt
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("birthdate") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("birthdate") )>🠫</button>
             </th>    
            <th >Anmedlung
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("etrydate") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("entrydate") )>🠫</button>
             </th>    
              
            <th >Ar. Klasse
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("arclass") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("arclass") )>🠫</button>
            </th>    
            <th >Q. Klasse  
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("qclass") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("qclass") )>🠫</button>
            </th>  
            <th >Telefon  
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("telefon") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("telefon") )>🠫</button>
            </th>  
             <th >Geschlecht  
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("gender") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("gender") )>🠫</button>
            </th>                
            <th >PLZ  
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("postalcode") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("postalcode") )>🠫</button>
            </th>       
            <th >Stadt  
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("city") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("city") )>🠫</button>
            </th>       
            <th >Beitrag
                <button class="my-btn btn-primary" onclick=@( () => SortAscending("contribution") )>🠩</button>
                <button class="my-btn btn-primary" onclick=@( () => SortDescending("contribution") )>🠫</button>
            </th>         
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in studList)
            {
                <tr>
                    <td>@emp.Name </td>    
                    <td>@emp.Branch           </td>    
                    <td>@emp.Birthday         </td>    
                    <td>@emp.EntryDate        </td>    
                    <td>@emp.arClass          </td>    
                    <td>@emp.qClass           </td>    
                    <td>@emp.PhoneNr1         </td>    
                    <td>@emp.Gender           </td>    
                    <td>@emp.PostalCode       </td>    
                    <td>@emp.City             </td>    
                    <td>@emp.MonthContribution</td>    
                    <td nowrap>
                        <button class="my-btn btn-info" onclick="@(async () => await EditStudent(@emp.Id))">🖉</button>
                        <button class="my-btn btn-danger" onclick="@(async () => await DeleteConfirm(@emp.Id))">🗑</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (isAdd)
    {
        <div style="overflow:auto;height:80%">
        <div class="modal" tabindex="-1" style="display:block" role="dialog" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">@modalTitle</h3>
                        <button type="button" class="close" onclick="@closeModal">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <form>
                            <div class="form-group">
                                <label for="Name" class="my-control-label">Name</label>
                                <input for="Name" class="form-control" bind="@stud.Name" />
                            </div>
                            
                            <div class="form-group">
                                <label for="Branch" class="my-control-label">Branch</label>
                                <select for="Branch" class="form-control" bind="@stud.Branch">
                                    <option value="">-- Select Branch --</option>
                                    @foreach (var city in branchList)
                                    {
                                        <option value="@city.Name">@city.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Birthday" class="my-control-label">Birthday</label>
                                <input for="Birthday" class="form-control" bind="@stud.Birthday" />
                            </div>
                            <div class="form-group">
                                <label for="EntryDate" class="my-control-label" >Entry Date</label>
                                <input for="EntryDate" class="form-control" bind="@stud.EntryDate" />
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="arClass" class="my-control-label">Arabic Class</label>
                                <select asp-for="arClass" class="form-control" bind="@stud.arClass">
                                    <option value="">-- Select arclass --</option>
                                    @foreach (var city in arClassList)
                                    {
                                        <option value="@city.Name">@city.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="qClass" class="my-control-label">Quran Class</label>
                                <select asp-for="qClass" class="form-control" bind="@stud.qClass">
                                    <option value="">-- Select qclass --</option>
                                    @foreach (var city in qClassList)
                                    {
                                        <option value="@city.Name">@city.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="my-control-label">Gender</label>
                                <select asp-for="Gender" class="form-control" bind="@stud.Gender">
                                    <option value="">-- Select Gender --</option>
                                    @foreach (var city in genderList)
                                    {
                                        <option value="@city">@city</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNr1" class="my-control-label">PhoneNr1</label>
                                <input asp-for="PhoneNr1" class="form-control" bind="@stud.PhoneNr1" />
                            </div>
                           
                            <div class="form-group">
                                <label asp-for="PostalCode" class="my-control-label">Postal Code</label>
                                <input asp-for="PostalCode" class="form-control" bind="@stud.PostalCode" />
                            </div>
                            <div class="form-group">
                                <label asp-for="City" class="my-control-label">City</label>
                                <input asp-for="City" class="form-control" bind="@stud.City" />
                            </div>
                            <div class="form-group">
                                <label asp-for="MonthContribution" class="my-control-label">Monthly Contribution</label>
                                <input asp-for="MonthContribution" class="form-control" bind="@stud.MonthContribution" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" >
                        <button class="btn btn-block btn-success" onclick="@(async () => await SaveStudent())" data-dismiss="modal">Save</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>   
    }

    if (isDelete)
    {
        <div class="modal" tabindex="-1" style="display:block" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Delete student</h3>
                    </div>
                    <div class="modal-body">
                        <h4>Do you want to delete this student ??</h4>
                        <table class="table">
                            <tr>
                                <td>Name</td>
                                <td>@stud.Name</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>@stud.Gender</td>
                            </tr>
                            <tr>
                                <td>Arabic class</td>
                                <td>@stud.arClass</td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td>@stud.City</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" onclick="@(async () => await DeleteStudent(stud.Id))" data-dismiss="modal">YES</button>
                        <button class="btn btn-warning" onclick="@closeModal">NO</button>
                    </div>
                </div>
            </div>
        </div>
    }
}  

@functions{
    
    void closeMessage()
    {
        Messages = "";
    }
}
@if (Messages != "")
{
    <div id="outPopUp" style="position: absolute;   z-index: 15;  top: 50%;  left: 50%;  margin: -100px 0 0 -150px;  background: #f6cd2f;">
       <div id="outPopUp" style="position: absolute;  width: 300px;  height: 248px;    background: #333;">
            <span style="color:#ECF3F4;font-size:xx-large;display: inline-block;    margin: 10px 10px 0 0;   padding: 5px 10px ">
                @Messages
            </span>
            <button class="btn btn-info" style="color:#ECF3F4;font-size:xx-large"  onclick="@closeMessage" >Ok</button>
        </div>

    </div>
}